* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

/*Start Nav*/
.navbar {
}

.navbar .navbar-brand {
  color: white;
  font-size: medium;
}

.navbar .nav-item a {
  color: white;
}

.navbar .nav-item :hover {
  color: red;
}
.navbar .nav-link {
  margin-right: 5rem;
}

.navbar .speacil-button .nav-link {
}

.navbar .active > .nav-link {
  color: red !important ;
}

@media only screen and (max-width: 768px) {
  .navbar .nav-link {
    text-align: right;
    margin: 0;
  }
  .navbar .navbar-toggler {
    background-color: lightgray;
  }
}

/*End Nav*/

/*<!--Start intro Section-->*/

.intro-section .card-img-overlay {
  margin-top: 10%;
  text-align: right;
}

.intro-section button {
  font-size: large;
  width: 500px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .intro-section img {
    height: 30vh;
    width: max-content;
  }
  .intro-section .card-img-overlay {
    margin-top: 0;
    text-align: right;
  }
  .intro-section .card-img-overlay h2 {
    font-size: medium;
  }

  .intro-section .card-img-overlay h4 {
    font-size: small;
  }

  .intro-section button {
    font-size: small;
    width: auto;
    height: auto;
  }
}

/*<!--End intro Section-->*/

/*<!--Start Law Practice Section-->*/

@media (max-width: 768px) {
  .pactice-section h2 {
    font-size: larger;
  }
}
.pactice-section {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.pactice-section .card-deck .card {
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: right;
}

.pactice-section i {
  position: absolute;
  top: 50%;
  left: auto;
  font-size: 50px;
  background-color: white;
}

.pactice-section h5 {
  margin-top: 1%;
}

/*<!--End Law Practice Section-->*/

/*<!--Start  About Section-->*/

@media (max-width: 768px) {
  .about-section h1 {
    font-size: larger;
  }

  .about-section p {
    font-size: medium;
  }

  .about-section .intro-sytle li {
    font-size: medium;
  }
  .about-section .intro-static {
    margin-bottom: 2%;
  }
}
.about-section {
  background-color: #f5f5f5;
}
.about-section .intro-sytle {
  text-align: right;
}

.about-section .intro-sytle p {
  font-size: large;
}

.about-section .intro-sytle li {
  font-size: large;
}

.about-section .intro-img-stlye img {
  height: 60vh;
}

.about-section .intro-img-stlye .intro-img {
  position: absolute;
  top: 20%;
  left: 40%;
  height: 50vh;
}
.about-section .intro-static {
  text-align: center;
}

.about-section .intro-static span {
  color: red;
}

.about-section .intro-static .intro-static-1 {
  margin-left: 5%;
  background-color: white;
  box-shadow: lightgray 3px 3px 3px 3px;
}
.about-section .intro-static .intro-static-2 {
  margin-left: 5%;
  background-color: white;
  box-shadow: lightgray 3px 3px 3px 3px;
}
/*<!--End  About Section-->*/

/*<!-- ÙStart Contact Section -->*/
.contact-us-section {
  text-align: right;
}

.contact-us-section {
  text-align: right;
  background-image: url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_960_720.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: round;

  color: white;
  height: 80vh;
  margin-top: 2%;
  margin-bottom: 2%;
}
.contact-us-form {
  text-align: right;
  background-color: gray;
  top: 30px;
  height: 430px;
  width: auto;
}

.contact-us-form form input {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.contact-us-form form select {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.contact-us-form form button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
@media (max-width: 768px) {
  .contact-us-section {
    font-size: small;
  }
  .contact-us-form {
    font-size: small;
  }

  .contact-us-form form input {
    font-size: small;
  }

  .contact-us-form form select {
    font-size: small;
  }
}

/*<!-- End Contact Section -->*/

/*<!-- Start Cases Section -->*/
.cases-section {
  margin-top: 3%;
  text-align: right;
}

.cases-section .card {
  margin-top: 3%;
  margin-bottom: 3%;
  border: none;
}

@media (max-width: 768px) {
  .cases-section {
    margin-top: 2%;
  }

  .cases-section h2 {
    font-size: larger;
  }

  .cases-section .card {
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
  }
}

/*<!-- End Cases Section -->*/

/* Start testimonails-section*/
.testimonails-section {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/12/41/desk-1869579_960_720.jpg");
  background-color: #f7f6f2;
  margin-top: 3%;
  margin-bottom: 5%;
  text-align: center;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonails-section .carousel-inner .card {
  border: none;
  background: none;
  height: 55vh;
}
.testimonails-section .carousel-inner img {
  height: 256px;
  width: 256px;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 1;
}

.testimonails-section .carousel-inner p {
  color: white;
}

@media (max-width: 768px) {
  .testimonails-section {
    height: 35vh;
  }

  .testimonails-section .carousel-inner .card {
    height: 30vh;
  }

  .testimonails-section .carousel-inner img {
    height: 96px;
    width: 96px;
  }

  .testimonails-section .carousel-inner .card-text {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.testimonails-section .carousel-caption {
}

/* End testimonails-section*/

/*<!-- Start Team Section -->*/

.team-section {
  text-align: right;
}

.team-section .card {
  border: none;
}

.team-section .card-body p {
}

@media (max-width: 768px) {
  .team-section h3 {
    font-size: medium;
    font-weight: bold;
  }

  .team-section h1 {
    font-size: medium;
  }

  .team-section .card img {
    height: 80%;
    width: auto;
  }
}

/*<!-- End Team Section -->*/

/*<!-- Start Call TO Action Section -->*/

.call-to-action {
  background-color: lightgray;
  height: 25vh;
  margin-top: 3%;
  color: white;
  margin-bottom: 1%;
}

.call-to-action .call-to-action-content h3,
button {
  margin-top: 10%;
}

.call-to-action .call-to-action-content button {
  margin-top: 10%;
  background-color: white;
  width: 40%;
  color: #da0000;
  box-shadow: black 1px 1px 1px 1px;
}

@media (max-width: 768px) {
  .call-to-action .call-to-action-content h3,
  button {
    margin-top: 10%;
  }

  .call-to-action .call-to-action-content button {
  }
}

/*<!-- End Call TO Action Section -->*/

/*<!-- Start Footer Section -->*/
.site-footer {
  background-color: #010b1d;

  text-align: right;
}

.site-footer img {
  height: 64px;
}
.site-footer a {
  text-decoration: none;
  color: white;
}

.site-footer p {
  color: white;
}

.footer-services {
  margin-top: auto;
}

@media (max-width: 768px) {
  .footer-section li p {
    text-decoration: none;
    font-weight: bold;
    font-size: small;
  }
  .footer-section li a {
    text-decoration: none;
    font-weight: bold;
    font-size: small;
  }
}

/*<!-- End Footer Section -->*/
