* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

/*Start Nav*/
.navbar {
}

.navbar .navbar-brand {
  color: white;
  font-size: medium;
}

.navbar .nav-item a {
  color: white;
}

.navbar .nav-item :hover {
  color: red;
}
.navbar .nav-link {
  margin-right: 5rem;
}

.navbar .speacil-button .nav-link {
}

.navbar .active > .nav-link {
  color: red !important ;
}

@media only screen and (max-width: 768px) {
  .navbar .nav-link {
    text-align: right;
    margin: 0;
  }
  .navbar .navbar-toggler {
    background-color: lightgray;
  }
}

/*End Nav*/

/*<!--Start intro Section-->*/

.intro-section .card-img-overlay {
  margin-top: 10%;
  text-align: right;
}

.intro-section button {
  font-size: large;
  width: 500px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .intro-section img {
    height: 30vh;
    width: max-content;
  }
  .intro-section .card-img-overlay {
    margin-top: 0;
    text-align: right;
  }
  .intro-section .card-img-overlay h2 {
    font-size: medium;
  }

  .intro-section .card-img-overlay h4 {
    font-size: small;
  }

  .intro-section button {
    font-size: small;
    width: auto;
    height: auto;
  }
}

/*<!--End intro Section-->*/

/*<!--Start Law Practice Section-->*/

.pactice-section {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.pactice-section .card-deck .card {
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: right;
}

.pactice-section i {
  position: absolute;
  top: 50%;
  left: auto;
  font-size: 50px;
  background-color: white;
}

.pactice-section h5 {
  margin-top: 1%;
}

/*<!--End Law Practice Section-->*/

/*<!--Start  About Section-->*/
.about-section {
  background-color: #f5f5f5;
}
.about-section .intro-sytle {
  text-align: right;
}

.about-section .intro-sytle p {
  font-size: large;
}

.about-section .intro-sytle li {
  font-size: large;
}

.about-section .intro-img-stlye img {
  height: 60vh;
}

.about-section .intro-img-stlye .intro-img {
  position: absolute;
  top: 20%;
  left: 40%;
  height: 50vh;
}
.about-section .intro-static {
  text-align: center;
}

.about-section .intro-static span{
  color: red;
}

.about-section  .intro-static  .intro-static-1{
  margin-left: 5%;
  background-color: white;
}
.about-section  .intro-static  .intro-static-2{
  margin-left: 5%;
  background-color: white;
}
/*<!--End  About Section-->*/
